.article-card {
  margin-bottom: 1vw;
  position: relative;
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  .card {
    box-shadow: $tightShadow;
    .card-text-holder {
      @include common-padding();
      .card-text{
        word-break: break-word;
      }
    }
    .card-more {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background: $primary;
      color: white;
      padding: 5px 10px;
      border-top-left-radius: 20px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .card-meta{
      color: #959595;      
      a{
        color: #959595;
        &:hover{
          color:#5a5a5a;
          text-decoration: none;
        }
      }
    }

    &:hover {
      .card-more {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
  &.sticky {
    max-width: 100% !important;
    @include make-col-ready();
    @include make-col(12);
  }
}

.related-card {
  margin-bottom: 1vw;
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  .card {
    .card-text-holder {
      padding: 1vw 1vw 1vw 1vw;
      .card-text{
        word-break: break-word;
      }
    }
    &.related {
      flex-direction: row;
      img {
        height: 100%;
        max-width: 100px;
      }
    }
  }
}
